[submodule "ckanext-dcat"]
	path = ckanext-dcat
	url = https://github.com/italia/ckanext-dcat.git
[submodule "ckanext-dcatapit"]
	path = ckanext-dcatapit
	url = https://github.com/italia/ckanext-dcatapit.git
[submodule "ckanext-harvest"]
	path = ckanext-harvest
	url = https://github.com/italia/ckanext-harvest.git
[submodule "ckanext-multilang"]
	path = ckanext-multilang
	url = https://github.com/italia/ckanext-multilang.git
[submodule "datapusher"]
	path = datapusher
	url = https://github.com/italia/datapusher.git
[submodule "data/init/harvesters"]
	path = data/init/harvesters
	url = https://github.com/italia/ckan-it-harvesters.git
[submodule "solr"]
	path = solr
	url = https://github.com/italia/ckan-it-solr.git
[submodule "ckan"]
	path = ckan
	url = https://github.com/italia/ckan.git
[submodule "ckanext-spatial"]
	path = ckanext-spatial
	url = https://github.com/ckan/ckanext-spatial.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/italia/ckan-it-postgis.git
